<div class="page-header">
	<h1>Query "<%= @scholar_query.query_text %>" by <%= link_to @scholar_query.user.name, @scholar_query.user %> <small>at <i><%= @scholar_query.query_time || @scholar_query.created_at %></i></small></h1>
</div>
<div class="well">
	<h2>Download query data</h2>
	<%= form_tag "/download_query_data", method: :post do %>
		<%= hidden_field_tag "query_id", @scholar_query.id %>
		<%= button_tag type: "button", class: "btn btn-primary" do %>
			<i class="fa fa-download"></i> Download data
		<% end %>
	<% end %>
</div>
<h2>Feedback</h2>
<h4>Broadness</h4>
<p>
	<%= @scholar_query.broadness_str %>
</p>
<h4>Satisfaction</h4>
<p>
	<%= @scholar_query.satisfaction_str %>
</p>
<hr>
<h2><%= pluralize(@scholar_query.query_clicks.count, "Link") %> clicked</h2>
<ul class="media-list">
	<% @scholar_query.query_clicks.each do |click| %>
	  	<li class="media">
		    <div class="media-body">
		      	<h3 class="media-heading"><a href="<%= click.link_location %>" target="blank"><%= click.heading %></a> <small>at <i><%= click.click_time || click.created_at %></i></small></h3>
		      	<p class="text-muted">
		      		<%= click.authors %>
		      	</p>
		      	<p>
					<%= click.synopsis %>
				</p>
				<p>
					<span class="label label-default"><strong>Location: <%= click.location %></strong></span>
				</p>
		    </div>
	  	</li>
  	<% end %>
</ul>
<!--<h2>Scroll behavior</h2>
<div class="scroll-behavior-container">
	<% @scholar_query.query_scrolls.each do |scroll| %>
		<span class="scroll-activity-bar" style="top: <%= scroll.location %>px"></span>
	<% end %>
</div>-->


