<div class="page-header">
<h1>Tasks
  <%= link_to raw("<i class='fa fa-plus'></i> New task"), new_task_path, class: "btn btn-success pull-right" %>
</h1>

</div>



<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.title, task_path(task) %></td>
        <td><span class="label label-default"><%= task.task_type %></span></td>
        <td><%= link_to raw("<i class='fa fa-pencil'></i> Edit"), edit_task_path(task), class: "btn btn-default btn-sm" %></td>
        <td><%= link_to raw("<i class='fa fa-times'></i> Remove this task"), task, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
