<div class="page-header">
  <h1>Users
    <%= link_to raw("<i class='fa fa-plus'></i> New user"), new_user_path, class: "btn btn-success pull-right" %>
  </h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Task reports</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= link_to user.get_url, user.get_url %></td>
        <td><span class="badge"><%= user.task_reports.count %></span></td>
        <td><%= link_to raw("<i class='fa fa-times'></i> Remove this user"), user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
