<div class="page-header">
  <h1><%= @user.name %>
    <small>
      <%= link_to @user.get_url, @user.get_url %>
    </small>
  </h1>
</div>
<h2><%= pluralize(@user.task_reports.count, "task report") %></h2>
<div class="panel-group" id="accordion">
<% @user.task_reports.each do |report| %>
  <div class="panel panel-default">
    <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= report.id %>"><i class="fa fa-file-text marg-right"></i><%= report.task.description %></a> <small>started at <%= report.created_at %></small></h4></div>

    <div id="collapse-<%= report.id %>" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-5">
              <h3 style="margin-top: 0px">Report</h3>
              <%= report.report %>
          </div>
          <div class="col-md-7">
            <div class="row">
                <div class="col-md-6">
                  <div class="well well-sm">
                    <h3 style="margin-top: 0px">Information</h3>
                     <dl style="margin-bottom: 0px">
                        <dt>Started at</dt>
                        <dd><%= report.created_at %></dd>
                        <dt>Completed at</dt>
                        <dd><%= report.completed %></dd>
                        <dt>Duration</dt>
                        <dd><%= report.duration %></dd>
                      </dl>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="well well-sm">
                   <h3 style="margin-top: 0px">Download data</h3>
                     <%= form_tag "/download_task_report/#{report.id}", method: :post do %>
                        <%= hidden_field_tag "task_report_id", report.id %>
                        <div class="radio">
                           <label>
                              Summary
                              <%= radio_button_tag "include", "summary", true %>
                          </label>
                        </div>
                        <div class="radio">
                           <label>
                            Query clicks without timings
                             <%= radio_button_tag "include", "clicks" %>
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            Queries with timings
                             <%= radio_button_tag "include", "queries" %>
                          </label>
                        </div>
                        <%= button_tag type: "submit", class: "btn btn-primary" do %>
                          <i class="fa fa-download"></i> Download data
                        <% end %>
                      <% end %>
                  </div>
                </div>
            </div>
          </div>
        </div>
        
        <%= link_to raw("<i class='fa fa-times'></i> Remove this report"), "/task_reports/#{report.id}", method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>

        <hr>

        <h3>Queries</h3>

        <table class="table table-striped" style="margin-bottom: 0px">
          <thead>
            <tr>
              <th>Query</th>
              <th>Time</th>
              <th>Click timings</th>
              <th>Scroll behavior</th>
              <th>Clicks</th>
            </tr>
          </thead>

          <tbody>
            <% report.scholar_queries.each do |scholar_query| %>
              <tr>
                <td><%= link_to scholar_query.query_text, scholar_query_path(scholar_query) %></td>
                <td><%= scholar_query.created_at %></td>
                <td><%= link_to raw('<i class="fa fa-download marg-right"></i>download'), "/download_query_clicks/#{scholar_query.id}", class: 'btn btn-default btn-sm'; %></td>
                <td><%= link_to raw('<i class="fa fa-download marg-right"></i>download'), "/download_query_scroll_behavior/#{scholar_query.id}", class: 'btn btn-default btn-sm'; %></td>
                <td><span class="badge"><%= scholar_query.query_clicks.count %></span></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
</div>


