<!DOCTYPE html>
<html>
<head>
  <title>Search</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class="wrapper">
		<% if not session[:admin_id].nil? %>
			<div class="navbar navbar-default">
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    <div class="navbar-brand">Admin panel</div>
			  </div>
			  <div class="navbar-collapse collapse navbar-responsive-collapse">
			    <ul class="nav navbar-nav">
			      	<li><%= link_to "Queries", "/scholar_queries" %></li>
			  	  	<li><%= link_to "Users", "/users" %></li>
			    </ul>
			    <%= form_tag "/logout", method: :post, class: "navbar-form navbar-right" do %>
		        	<%= submit_tag "Log out", class: "btn btn-primary" %>
		        <% end %>
		      	</form>
			  </div>
			</div>
		<% end %>
		<%= yield %>
	</div>
</div>
</body>
</html>
